@import url('https://fonts.googleapis.com/css?family=Fira+Mono'); /*stat values*/
@import url('https://fonts.googleapis.com/css?family=Carter+One'); /*section headers*/
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One'); /*stat labels*/
@import url('https://fonts.googleapis.com/css?family=Droid+Serif'); /*general text*/

body {
	margin: 2em;
	background: #f1f4f9;
	font-size: 12pt;
}

.bordered {    
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}

.clearborder {    
	background-color: transparent;
	border: 0px;
	padding: 2px;
}

.clickableimg:hover {
	background-color: #000000;
}

.profilenameplate {
	margin-bottom: 1.5em;
}

.profileimage {
	float: left;
	overflow: hidden;
}

.headshot {
	width: 300px;
}

.managementposition {
	margin: auto;
	width: 300px;
}

.stats {
	float: left;
	overflow: hidden;
	line-height: 1.35em;
	padding-left: 3em;
}

.sectionbreak {
	clear: both;
	border: 0;
}

.sectionheader {
	font-family: 'Carter One', cursive;
	font-size: 1.75em;
	margin-bottom: 0em;
}

.firstparagraph {
	margin-top: 0;
}

.thumbnail {
	width: 100px;
	margin: 0;
}


.stats {
}

.statlabel {
	font-family: 'Racing Sans One', cursive;
	font-size: 1.25em;
}

.statvalue {
	font-family: 'Fira Mono', monospace;
	font-size: 1.25em;
	display: inline-block;
	text-indent: 2em;
	margin-bottom: 0;
}

.fightername {
	color: red;
	font-weight:bold;
}

.bio {
	font-family: 'Droid Serif', serif;
	font-size: 1.25em;
	text-align: justify;
}

.currenttitles {
	margin-bottom:20px;
}

.currenttitles>img {
	display: block;
}

.photogalleryinstructions {
	font-family: "Georgia", "serif";		
	font-size: 0.75em;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
