@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic'); /* main text */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black'); /* chapter titles */
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One'); /* Bio labels */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); /* Bio info */

body {
	-webkit-font-smoothing: antialiased;	
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(228,27,23,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.innerbody {
	width: 90%;
	margin:auto;
	margin-top:4em;
	margin-bottom: 4em;
	padding: 0;
	border: 5px outset #B6B6B4;
	overflow: hidden;
	background: #F2FFED;
	background-image: url(https://s19.postimg.org/kaonnc0qr/tile_background.jpg); background-repeat: repeat;
}

.authorsnote, .chaptertext, .characterreference {
	padding: 2em;
	padding-top: .35em;
	padding-bottom: .35em;
}

.characterreference {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}


hr.sectionbreak {
	border: 0;
	height: 0;
	box-shadow: 0 0 10px 1px black;
}

.storyheader {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	font-size: .75em;
	color: #666362;
	padding: .5em;
}

.storynumber {
	float: left;
}

.storyname {
	float: right;
}

.hidden {
	visibility: hidden;
}

.invisible {
	display: none;
}

p {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	font-size: 1.25em; /*DA size 4 or 5*/
	text-align: justify;
}

.youtubeplayer {
	height: 75;
	width: 600;
	border: 0;
}

.chapter {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}

.dateline {
	font-size: 1.25em;
	font-style:italic;
}

.chapterbook {
	font-size: 1.5em;
}

.chaptertitle {
	font-size: 1.25em;
}

.break:after {
	content:"\000A";
	white-space: pre;
}

.centertext {
	text-align: center;
}

.bold, .emphasized {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.storyimagecontainer {
	margin: auto;
	width: 80%;
}

.storyimage {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.characterbio {
	visibility: visible;
}

.bioimage:hover, .storyimage:hover {
	background-color: #000000;
	border-color: #000000;
	opacity: 1;
}

.bioimagelink:hover, .storyimagelink:hover {
	opacity: 1;
}

.biolabel {
	font-family: 'Racing Sans One', cursive;
}

.bioinfo {
	font-family: 'Roboto Condensed', sans-serif;
}

.bordered {    
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}

.bioimage {
	width: 100px;
}
