@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic'); /* main text */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black'); /* chapter titles */

p {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	text-align: justify;
}

.chapter {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}

.dateline {
	font-size: 1.25em;
	font-style:italic;
}

.chapterbook {
	font-size: 1.5em;
}

.chaptertitle {
	font-size: 1.25em;
}

.break:after {
	content:"\000A";
	white-space: pre;
}

.centertext {
	text-align: center;
}

.bold, .emphasized {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.characterbio {
	visibility: visible
}
