@import url('https://fonts.googleapis.com/css?family=Lato'); /*main article, issue info*/
@import url('https://fonts.googleapis.com/css?family=Denk+One'); /*h3, h4, other*/

body {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin: 0em;
	font-family: 'Lato', sans-serif;
	font-size: 1.15em;
	line-height: 1;
	font-weight: 400;
	color: #333;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #f1f4f9;
	-webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: 1em;
	text-align: left;
	font-size: 1.05em;
	line-height: 1.35em;
}

.bordered {    
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}

img.left, img.right {
	margin:0;
	max-width: 100%;
	height: auto;
}

img.left {
	float: left;
	margin: 0 1.5em 1em 0;
}

img.right {
	float: right;
	margin: 0 0 1em 1.5em;
}

.coverimage:hover {
	background-color: #848482;
	opacity: 1;
}

.coverimagelink:hover {
	opacity: 1;
}

h1, h2, h3, h4 {
	margin: 0;
)

h3 {
	font-family: 'Denk One', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 100%;
	position: relative;
	color: #3D3D3D;
	padding: 0px 0px 5px 0px;
}

h4 {
	font-family: 'Denk One', sans-serif;
	font-size: 1.35em;
	font-style: normal;
}

h2 {
	text-decoration: underline;
	padding-bottom: 5px;
	font-size: 28px;
	line-height: 28px;
}

a {
	color: #006600;
	text-decoration: none;
	outline: none;
	text-align: left;
	font-size: 0.9em;
	line-height: 1.2em;
	cursor: auto;
}

.fightername {
	color: #208237;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	text-align: left;
	line-height: 1.2em;
	cursor: auto;
}

.rsilogo {
	float: left;
}

.article {
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
	padding: 20px;
	border: 3px double #8c8b8b;
	overflow: hidden;
}

.issueinfo {
	font-family: 'Lato', sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	padding: 20px;
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.maginfo {
	text-align: center;
	overflow: hidden;
}

.tkocover {
	overflow: hidden;
	margin: 0 auto;
}

.tkocovercaption {
	overflow: hidden;
	margin: 0 auto;
}

.horizontalseparator {
	margin: 0px 0px 0px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.center {
	align: center;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/*NO OTHER CSS BELPW THIS POINT*/
/* Forces a new page when printing for any element that has this class */
.newpage, .newpage * {
	page-break-before: always;
}

/* Styling for printed pages only */
.print-only, .print-only * {
	display: none; /*turns this off when not printing*/
}

@media print {    
	.no-print, .no-print * {
	display: none !important;
}

.print-only, .print-only * {
	display: inline;
}
