@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
	-webkit-font-smoothing: antialiased;	
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(228,27,23,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.rosterinnerbody {
	width: 90%;
	margin:auto;
	margin-top:4em;
	margin-bottom: 4em;
	padding: 0;
	border: 5px outset #B6B6B4;
	overflow: hidden;
	background: #F2FFED;
	background-image: url(https://s19.postimg.org/ig44sw37n/wood-bg.jpg); background-repeat: repeat;
}

.rampagesportslogo {
	font-family: 'Frijole', cursive;
	font-size: 5em;
	background: -webkit-linear-gradient(left, #C11B17 , black);
	background: -o-linear-gradient(right, #C11B17, black);
	background: -moz-linear-gradient(right, #C11B17, black);
	background: linear-gradient(to right, #C11B17 , black); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sectionheader {
	font-family: 'Titan One', cursive;
	font-size: 2em;
	background-color: black;
	color: white;
}

.sectiontitle {
	margin-left: 5%;
}

.titlesection {
	text-align:left;
	margin-left: 2.5%
}

.gallery {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; /*center*/
	width: 90%;
	margin: auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.fightergallery {
	padding-bottom: 3em;
}

.galleryitem {
	font-family: 'Droid Sans', sans-serif;
	float: left;

	width: 20%;
	height: 15em;
	margin-top:  2%;
	margin-right:  2%;
	margin-bottom:  6%;
	margin-left:  2%;
	/*border: 1px solid blue;*/
}

.managementitem {
	font-family: 'Droid Sans', sans-serif;
	float: left;

	width: 24%;
	height: 25em;
	margin-top:  2%;
	margin-right:  2%;
	margin-bottom:  6%;
	margin-left:  2%;
}

.galleryitem h3 {
	font-weight: bold;
	font-size: 1.25em;
	color: #800517;
	margin-bottom: 5px;
}

.galleryitem p {
	font-size: 1.10em;
	text-align: left;
	margin-top: 0px;
	color: #000000;
}

.managementitem h3 {
	font-weight: bold;
	font-size: 1.35em;
	color: #800517;
	margin-bottom: 5px;
}

.managementitem p {
	font-size: 1.20em;
	text-align: left;
	margin-top: 0px;
	color: #000000;
}

.galleryitem img {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.upcase {
	text-transform: uppercase;
}

.linkedimage:hover {
	background-color: #79BAEC;
	border-color: #79BAEC;
	opacity: 1;
}

.linkedimage:hover {
	opacity: 1;
}

.bordered {    
	background-color: #000000;
	border: 1px solid #000000;
	padding: 3px;
}

.highlight {
	color: #C11B17;
	font-weight: bold;
}

.hidden {
	visibility: hidden;
}

.invisible {
	display: none;
}
