@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic'); /* main text */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black'); /* chapter titles */

body {
	-webkit-font-smoothing: antialiased;	
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(228,27,23,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(228,27,23,1) 51%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.innerbody {
	margin: 4em;
	padding: 2em;
	border: 5px outset #B6B6B4;
	overflow: hidden;
	background: #F2FFED;
	/*background-image: url(https://s19.postimg.org/kaonnc0qr/tile_background.jpg); background-repeat: repeat;*/
}

hr.sectionbreak {
	border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top: 2em;
	margin-bottom: 2em;
}

p {
	font-family: 'Gentium Book Basic', 'Georgia', serif;
	font-size: 1.25em; /*DA size 4 or 5*/
	text-align: justify;
}

.chapter {
	font-family: 'Archivo Black', 'Impact', 'Charcoal', sans-serif;
	text-align:center;
}

.dateline {
	font-size: 1.25em;
	font-style:italic;
}

.chapterbook {
	font-size: 1.5em;
}

.chaptertitle {
	font-size: 1.25em;
}

.break:after {
	content:"\000A";
	white-space: pre;
}

.centertext {
	text-align: center;
}

.bold, .emphasized {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.characterbio {
	visibility: visible;
}
